[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/tmux-fzf-url"]
	path = tmux/tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url.git
