# do `(cd HERE; cp .zshenv.example .zshenv; ln -s "$(pwd)/.zshenv" ~/.zshenv)`
export DOTFILES="$HOME/your/dotfiles/path"
export ZDOTDIR="$DOTFILES/zsh"

export PATH="$PATH:$HOME/.local/bin"
export FPATH="$HOME/.local/share/zfunc:$FPATH"

export EDITOR="nvim"
export PAGER="less -S"

skip_global_compinit=1

source "$ZDOTDIR/.zshenv.local"
